/* Variables */
/* Colours2 */
/* Portfolio - Gallery */
.portfolio-wrapper {
  background: #293134; }
  .portfolio-wrapper h1 {
    color: #121212;
    font-weight: 700;
    padding: 2rem 0;
    font-size: 3.5rem;
    text-align: center; }
  .portfolio-wrapper ul li {
    padding: 0; }

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
  .portfolio-wrapper h1 {
    padding: 3rem 0; } }

#page-footer {
  background: none;
  position: absolute;
  bottom: 25px;
  left: 20px; }

ul.social-icons-footer {
  display: flex;
  justify-content: space-between;
  width: 90vw; }
  ul.social-icons-footer li {
    display: inline-block; }
    ul.social-icons-footer li a > i.fa {
      font-size: 32px;
      color: rgba(0, 0, 0, 0.75);
      transition: 0.2s ease; }
      ul.social-icons-footer li a > i.fa:hover {
        transition: 0.2s ease; }
      ul.social-icons-footer li a > i.fa.fa-dribbble:hover {
        color: #ea4c89; }
      ul.social-icons-footer li a > i.fa.fa-behance:hover {
        color: #1769ff; }
      ul.social-icons-footer li a > i.fa.fa-twitter:hover {
        color: #1da1f2; }
      ul.social-icons-footer li a > i.fa.fa-instagram:hover {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      ul.social-icons-footer li a > i.fa.fa-linkedin:hover {
        color: #0077b5; }
      ul.social-icons-footer li a > i.fa.fa-facebook-official:hover {
        color: #3b5998; }

@media only screen and (min-width: 640px) {
  ul.social-icons-footer {
    width: 320px; } }

@media only screen and (min-width: 64em) {
  #footer-txt {
    margin-bottom: 0em; }
    #footer-txt p {
      margin-bottom: 0; }
  ul.social-icons-footer {
    margin: 0;
    width: 320px; }
    ul.social-icons-footer li > a > i.fa {
      font-size: 25px; } }
