/* Variables */

$open-sans: "Open Sans",
Helvetica,
Arial,
sans-serif;
/* Colours2 */

$black-color: #121212;
$bg-color: #293134;

$mobile-row-padding: 0 1.25rem;



@import 'imports/portfolio';
@import 'imports/footer';
