/* Nav */

.header-bar {
    .header-bar-logo {
        top: 1.5rem;
        left: 1.25rem;
        position: fixed;
        z-index: 1000;
        cursor: pointer;
        transition: all .3s ease-out;
        color: $black-color;
        font-weight: 600;
        font-style: italic;
        letter-spacing: 0.08rem;
        text-decoration: none;
        img {
            width: 4rem;
        }
    }
    i {
        line-height: inherit;
        right: 1.25rem;
        top: 1.5rem;
        position: fixed;
        z-index: 1000;
        color: $black-color;
    }
}

@media only screen and (min-width: 64.063em) {
    .header-bar {
        .header-bar-logo {
            top: 40px;
            left: 40px;
        }
    }
}
